:root{
	--background-color: white;
	--text-color: black;
	--secondary-text-color: rgb(58, 58, 58);
	--mail-button-color: rgba(253, 253, 253, 0.9);
	--gr_1: rgba(255,255,255,0.7);
	--gr_2: rgba(255,255,255,0.5);
}

body::-webkit-scrollbar{
	width: 0.3rem;
}

body::-webkit-scrollbar-track{
	background: var(--background-color);
}

body::-webkit-scrollbar-thumb{
	background: var(--secondary-text-color);
	border-radius: 15rem;
}

body::-webkit-scrollbar-thumb:hover {
	background: var(--text-color);
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

body{
	margin: 0;
	overflow: hidden;
	background-color: var(--background-color);
	background-repeat: no-repeat;
	color: var(--text-color);
}

#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -2;
}

.noise {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	overflow: hidden;
	background-color: var(--text-color);
	width: 100%;
	height: 100%;
	background: linear-gradient(to right bottom, 
	var(--gr_1), 
	var(--gr_2)), 
	url(noise.svg);
	backdrop-filter: blur(0.7rem);
	z-index: -1;
  }

.scene, canvas{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.main-container{
	display: flex;
	flex-direction: column;
	margin-top: -7%;
	z-index: 1;
}

.main-container #Title_Text{
	display: flex;
	margin-left: -1%;
	margin-bottom: 10%;
    font-size: 500%;
	z-index: 1;
}

.main-container #Title_Text:hover{
    cursor: context-menu;
}

.main-container .Title-Text-Container{
	max-width: 100%; 
	padding-top: 2%; 
	padding-bottom: 2%; 
	margin-bottom: -13%;
}

.mailto-link {
	position: relative;
    font-size: 100%;
    color: var(--text-color);
    font-weight: 350;
}

.content_1{
	display: flex;
	margin-top: -2%;
	font-size: 200%;
	font-weight: 650;
}

.mailto-message {
	left: 50%;
	top: 1%;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
    text-align: center;
	width: 100%;
	white-space: nowrap;
	font-size: 80%;
	background-color: var(--mail-button-color);
	color: var(--secondary-text-color);
	padding: 2px 6px;
	border-radius: 8px;
    font-weight: 300;
	&:after,
	&:before {
		content: '';
	}
}
.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message {
    display: block;
}

@media screen and (max-width: 600px) {
    .main-container #Title_Text{   
        padding-top: 5%;
    }

	.mailto-link {
		font-size: 80%;
	}

	.content_1{
		margin-top: -4%;
		margin-top: -4%;
		font-size: 85%;
		max-width: 90%;
	}

	.main-container #Title_Text{   
        margin-top: 8%;
    }

	.mailto-link {
		font-size: 85%;
	}
} 

@media only screen 
  and (min-device-width: 768px)  
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
	.main-container #Title_Text{   
		padding-top: 5%;
    }

	.mailto-link {
		font-size: 85%;
	}

	.content_1{
		margin-top: -4%;
		font-size: 165%;
		max-width: 70%;
	}
}

@media (prefers-color-scheme: dark){
	:root{
		--background-color: black;
		--text-color: white;
		--secondary-text-color: rgb(210, 210, 210);
		--mail-button-color: rgba(2, 2, 2, 0.9);
		--gr_1: rgba(0,0,0,0.9);
		--gr_2: rgba(0, 0, 0, 0.6);
	}
}