body
{
	background-image: url('slika15.gif'); opacity: 0.8;
	font-family: "Raleway", sans-serif;
	margin: 0;
	background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}

.back
{
	width: 2%;
	padding-left: 20px;
}

.main
{
	color: #874cce;
	font-size: 40px;
	text-align: center;
}

.main2
{
	color: #874cce;
	font-size: 30px;
	padding-left: 10px;
	font-weight: 200px;
}


.text2
{
	color: #7749af;
	line-height: 0.8; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 22px;
	text-align: top-right;
}

.text4
{
	color: #0a0317;
	line-height: 0.4; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 22px;
	text-align: top-right;
}

.text3
{
	color: #604b7a;
	line-height: 0.5; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 17px;
	text-align: top-right;
}

.image1
{
	width: 40%;
  	background-color: black;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	border: 2px solid #645a70;
	 border-radius: 4px;
 	 padding: 10px;
}
