body
{
	background-image: url('slika.gif');
	font-family: "Raleway", sans-serif;
	margin: 0;
	background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
}

a:link {
  color: #33364f;
  text-decoration: none;
  padding: 60px;
  font-size: 50px;
  font-weight: bold;
}

a:visited {
  color: #33364f;
}

a:hover {
  color: #d13841;
}

a:active {
  color: #33364f;
}

.temi
{
	text-align: center;
	color: #33364f;
	padding: 500px ;
}