body
{
	background-image: url('5bRX.gif');
	font-family: "Raleway", sans-serif;
	margin: 0;
	background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
}

a:link {
  text-decoration: none;
}

.back
{
	width: 2%;
	padding-left: 20px;
}

.main
{
	color: #ff6e30;
	font-size: 40px;
	padding-right: 350px;
	padding-left: 1100px;
	text-align: left;
}

.main2
{
	color: #ff8956;
	font-size: 50px;
	padding-right: 480px;
	font-weight: 200px;
	padding-left: 650px;
	text-align: left;
}

.text2
{
	color: #edb05c;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 650px;
	font-size: 30px;
	line-height: 15px;
	text-align: left;
}

.text4
{
	color: #080808;
	padding-right: 20px;
	font-weight: bold;
	padding-left: 650px;
	line-height: 25px;
	text-align: left;
}
