body
{
	background-image: url('slika2.gif');
	font-family: "Raleway", sans-serif;
	margin: 0;
	background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
}

.back
{
	width: 2%;
	padding-left: 20px;
	padding-top: 52px;
}

a:link {
  color: #080808;
  text-decoration: none;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

a:visited {
  color: #080808;
}

a:hover {
  color: #45d280;
}

a:active {
  color: #080808;
}

.main
{
	color: white;
	font-size: 40px;
	text-align: center;
	padding-right: 350px;
}

.main2
{
	color: #ffb144;
	font-size: 30px;
	padding-left: 10px;
	font-weight: 200px;
}

.main3
{
	color: #4556d3;
	font-size: 30px;
	padding-left: 10px;
	font-weight: 200px;
}

.text
{
	color: #c4c4c4;
	line-height: 1; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 16px;
	text-align: top-right;
}

.text4
{
	color: #080808;
	line-height: 1; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 16px;
	text-align: top-right;
}

.text2
{
	color: #e8edff;
	line-height: 1; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 22px;
	text-align: top-right;
}

.text-c1
{
	color: #2fedba;
	line-height: 0.5; 
	padding-left: 10px;
	text-align: top-right;
}

.text-c2
{
	font-family: "Lucida Console", Monospace;
	color: #ff6b49;
	line-height: 0.5; 
	padding-left: 10px;
	text-align: top-right;
}

.text-c3
{
	color: #ffe349;
	line-height: 0.5; 
	padding-left: 10px;
	font-weight: bold;
	text-align: top-right;
}

.text-c4
{
	color: #ff7af6;
	line-height: 0.5; 
	padding-left: 10px;
	font-style: italic;
	text-align: top-right;
}

.text-c5
{
	color: #79ddff;
	line-height: 0.5; 
	padding-left: 10px;
	text-decoration: underline;
	text-align: top-right;
}