*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-workings{
    color: var(--workings-text-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 7rem;

    padding-left: 20%;
    padding-right: 20%;

    background: -webkit-linear-gradient(top, rgb(0,0,0), rgb(0,0,0), #6d00ff);
}

.content-workings{
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 1rem;
}

.cards-workings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.card-workings{
    color: var(--main-text-color);
    background-color: white;
    padding: 2rem;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    width: 24%;
    height: 100%;

    gap: 1rem;

    border: none;
    border-radius: 10px;

    transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.card-workings h5{
    font-family: custom-bold;

    align-self: center;
    font-size: 200%;
    letter-spacing: -1px;
}

.card-workings p{
    font-size: 135%;
}

.card-workings hr{
    background-color: var(--main-text-color);
    border: 3px solid var(--main-text-color);
    border-radius: 20px;

    transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
}