<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cards2.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>
    <section class="page4 section-workings" id="3workings">

        <div class="content-wrapper content-workings">

            <h1> <span data-tag="How-It-Works-Title-Line-1"> </span> <br> 
                <span data-tag="How-It-Works-Title-Line-2"> </span>
            </h1>

            <p data-tag="How-It-Works-Paragraph-1"> </p>

            <p> 
                <span data-tag="How-It-Works-Paragraph-2-Line-1"> </span> <br> 
                <span data-tag="How-It-Works-Paragraph-2-Line-2"> </span> 
            </p>

            <div class="cards-workings">

                <div class="card-workings"> 
                    <h5 data-tag="How-It-Works-Card-1-Title"> </h5> 
                    <hr id="hr-workings">
                    <p data-tag="How-It-Works-Card-1-Content"> </p>
                </div>

                <div class="card-workings"> 
                    <h5 data-tag="How-It-Works-Card-2-Title"> </h5>
                    <hr id="hr-workings">
                    <p data-tag="How-It-Works-Card-2-Content"> </p>
                </div>

                <div class="card-workings"> 
                    <h5 data-tag="How-It-Works-Card-3-Title"> </h5>
                    <hr id="hr-workings">
                    <p data-tag="How-It-Works-Card-3-Content"> </p>
                </div>

                <div class="card-workings"> 
                    <h5 data-tag="How-It-Works-Card-4-Title"> </h5>
                    <hr id="hr-workings">
                    <p data-tag="How-It-Works-Card-4-Content"> </p>
                </div>

            </div>

            <div class="cards-mobile">
                
                <div class="card-mobile">

                    <div class="info-head"> <span class="info-title" data-tag="How-It-Works-Card-1-Title"> </span> <span class="info-more info-btn1" id="info-more1"> + </span> </div>

                    <div class="mobile-cards-content content1">
                        <p data-tag="How-It-Works-Card-1-Content"> </p>
                    </div>

                </div>

                <div class="card-mobile">

                    <div class="info-head"> <span class="info-title" data-tag="How-It-Works-Card-2-Title"> </span> <span class="info-more info-btn2" id="info-more2"> + </span> </div>
                
                    <div class="mobile-cards-content content2">
                        <p data-tag="How-It-Works-Card-2-Content"> </p>
                    </div>

                </div>

                <div class="card-mobile">

                    <div class="info-head"> <span class="info-title" data-tag="How-It-Works-Card-3-Title"> </span> <span class="info-more info-btn3" id="info-more3"> + </span> </div>
                
                    <div class="mobile-cards-content content3">
                        <p data-tag="How-It-Works-Card-3-Content"> </p>
                    </div>

                </div>

                <div class="card-mobile">

                    <div class="info-head"> <span class="info-title" data-tag="How-It-Works-Card-4-Title"> </span> <span class="info-more info-btn4" id="info-more4"> + </span> </div>
                
                    <div class="mobile-cards-content content4">
                        <p data-tag="How-It-Works-Card-4-Content"> </p>
                    </div>

                </div>

            </div>

        </div>

    </section>
    </div>

</body>
</html>